# APP ENVIRONMENT
NEXT_PUBLIC_APP_ENV=

# Auth
NEXTAUTH_URL=
AUTH_SECRET=
# Added by `npx auth`. Read more: https://cli.authjs.dev

HMAC_SECRET_KEY= # create this by running `openssl rand -base64 32`

# WLD
NEXT_PUBLIC_WLD_MINIAPP_ID= # APP ID from the developer portal

# DB
DATABASE_URL=

# Discord
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# Contract
NEXT_PUBLIC_NFT_CONTRACT_ADDRESS=
NEXT_PUBLIC_FLICKSHARE_CONTRACT_ADDRESS=
NEXT_PUBLIC_WLD_TOKEN_CONTRACT_ADDRESS=

#THEMOVIEDB
NEXT_PUBLIC_TMDB_API_BASE=
NEXT_PUBLIC_TMDB_API_KEY=
NEXT_PUBLIC_TMDB_IMAGE_BASE=

# External Services
X_API_KEY=